html {
	background-color: var(--secondary-background-color);
}

main {
	display: grid;
	gap: 1em;
}

section.guide {
	background-color: var(--primary-background-color);
	max-width: max(100ch, 1000px);
	text-wrap-style: pretty;
	line-height: 1.3;

	padding: 0.75em 2em;
	margin: 1em auto;
	border-radius: 1em;
}

section.guide > :first-child {
	margin-top: 0.5em;
}

section.guide h1,
section.guide h2,
section.guide h3,
section.guide h4,
section.guide h5,
section.guide h6 {
	margin: 1.5em 0 min(0.5em, 1rem);
}

aside nav {
	background-color: var(--primary-background-color);
	padding: 1em;
	border-radius: 1em;
	line-height: 1.5;
}

aside nav > h2 {
	margin-bottom: 0.4em;
}

aside nav > ol,
aside nav > :first-child {
	margin-top: 0;
}

aside nav > ol,
aside nav > :last-child {
	margin-bottom: 0;
}

aside nav ol {
	padding-left: 1.5em;
}

aside nav > :last-child {
	padding-left: 0.5em;
}

/* Wide */
@media screen and (min-width: 1000px) {
	main > .guide {
		grid-row: 1;
	}

	aside nav {
		position: fixed;
		top: 5em;
	}

	main {
		padding-left: 1em;
		grid-template-columns: 1fr 35ch;
	}
}

/* Thin */
@media screen and (max-width: 1000px) {
	aside nav {
		margin-inline: 1em;
		margin-top: 1em;
	}

	section.guide {
		margin: 0 0 1em;
		padding: 0.25em 1em;
	}
}

/* Super thin */
@media screen and (max-width: 500px) {
	section.guide {
		padding: 0 0.5em;
	}
}

pre, :not(pre) > code {
	background-color: light-dark(lightgray, dimgrey);
	border-radius: 4px;
	padding: 1em 1.25em;
}

:not(pre) > code {
	padding: 0 0.6em 0.1em;

	font-family: system-ui;
	font-size: 0.9rem;
}

blockquote {
	background: #88888888;
	border-left: 8px solid #888888bb;
	margin: 0;
	padding: 0.5em 1em;
	border-radius: 8px;
}

blockquote > :first-child {
	margin-top: 0;
}

blockquote > :last-child {
	margin-bottom: 0;
}

h2 > a.link,
h3 > a.link,
h4 > a.link {
	display: none;
	text-decoration: none;
}

/* These are emoji (🔗) which don't look good with a normal underline, so we do a full outline instead */
.link:hover {
	--radius: 0.03em;
	---radius: calc(-1 * var(--radius));
	--blur: 0.03em;
	text-shadow: var(---radius) var(---radius) var(--blur) var(--link-colour),
	0 var(---radius) var(--blur) var(--link-colour),
	var(--radius) var(---radius) var(--blur) var(--link-colour),
	var(--radius) 0 var(--blur) var(--link-colour),
	var(--radius) var(--radius) var(--blur) var(--link-colour),
	0 var(--radius) var(--blur) var(--link-colour),
	var(---radius) var(--radius) var(--blur) var(--link-colour),
	var(---radius) 0 var(--blur) var(--link-colour);
}

/* Anchor point for the link emoji */
h2, h3, h4 {
	position: relative;
}

h2:hover > a.link,
h3:hover > a.link,
h4:hover > a.link,
.card:hover a.link {
	display: inline;
	font-size: 0.7em;
	margin-left: 0.3em;
	position: absolute; /*do not actually take up any space, to prevent layout shifts*/
	margin-top: 0.2em;
}

/* h2 needs a bit more offset */
h2:hover > a.link {
	margin-top: 0.3em;
}
