name: Build for Release

on:
  workflow_dispatch:
    inputs:
      TAG_NAME:
        description: 'Version (Tag Name)'
        required: true

env:
  FLUTTER_VERSION: '3.38.1'

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install system dependencies
        run: sudo apt-get install -y jq

      - name: Install yq
        run: pip install yq

      - name: Check tag with project version
        run: |
          TAG_NAME=${{ github.event.inputs.TAG_NAME }}
          PROJECT_VERSION=$(yq .version pubspec.yaml --raw-output)
          # Remove 'v' prefix from tag name
          TAG_VERSION=$(sed 's/^v//g' <<< "$TAG_NAME")
          if [ "$PROJECT_VERSION" != "$TAG_VERSION" ]; then
              echo "::error title=Mismatched Versions!::Project version ($PROJECT_VERSION) does not match tag ($TAG_VERSION)"
              exit 1
          fi

  linux:
    needs: check-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install system dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Configure Flutter
        run: flutter config --enable-linux-desktop

      - name: Get dependencies
        run: flutter pub get

      - name: Build
        run: flutter build linux --release --dart-define=version=${{ github.event.inputs.TAG_NAME }}

      - name: Prepare for upload
        run: |
          mkdir upload
          mv ./build/linux/x64/release/bundle/ ./upload/BlueMapGUI_${{ github.event.inputs.TAG_NAME }}_Linux_x64/

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: "BlueMapGUI_${{ github.event.inputs.TAG_NAME }}_Linux_x64"
          path: './upload/'

  windows:
    needs: check-version
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Configure Flutter
        run: flutter config --enable-windows-desktop

      - name: Get dependencies
        run: flutter pub get

      - name: Build
        run: flutter build windows --release --dart-define=version=${{ github.event.inputs.TAG_NAME }}

      - name: Prepare for upload
        run: |
          New-Item -Path . -Name "upload" -ItemType "directory"
          Move-Item -Path "./build/windows/x64/runner/Release/" -Destination "./upload/BlueMapGUI_${{ github.event.inputs.TAG_NAME }}_Windows_x64/"

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: "BlueMapGUI_${{ github.event.inputs.TAG_NAME }}_Windows_x64"
          path: './upload/'
